body { padding-bottom: 70px; }

.panel-green, .panel-red, .panel-orange
{
	color: #FFF;
}
.panel-green
{
	background-color: #12D261;
}
.panel-red 
{
	background-color: #de0e0e;
	
}
.panel-orange 
{
	background-color: orange;
	
}
.panel-heading a {
	color:#FFF;
}
.panel-admin
{
	overflow: scroll;
	height: 350px;
}

#reportingAdmin {
	background-color: #de0e0e;
	text-align: center;
	color: #FFF;
}
#commentsAdmin
{
	background-color: orange;
	text-align: center;
	color: #FFF;
}
