{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">

	<div class="col-lg-8 col-md-8 col-sm-12">
		
			<h1>Contact</h1>
			<p>
			 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis neque a finibus elementum. Mauris tincidunt 
			 elit eu diam egestas, eu ultrices mauris ultrices. Maecenas et sagittis turpis. Nam ultricies egestas justo id ornare. 
			 Aliquam a sapien sapien. Mauris lectus libero, facilisis nec imperdiet non, sollicitudin eget quam. Fusce bibendum dapibus 
			 sapien, at feugiat nunc semper at.
			 </p>
			<p>
			In vestibulum justo id dolor tristique, ut condimentum enim dictum. Sed elit lorem, posuere sit amet scelerisque vel, 
			lacinia vitae dui. Nunc varius ornare lobortis. Aenean euismod maximus odio at interdum. Fusce malesuada tempus dui gravida 
			porttitor. In iaculis sem a diam aliquam, a tempor sem pretium. Aenean dui est, posuere id viverra at, molestie non odio. 
			Sed non arcu non quam laoreet ultrices sit amet id enim.
			</p>
			<p>
			Pellentesque commodo libero eget purus cursus, sit amet consequat ipsum posuere. In at turpis at nisl lobortis scelerisque. 
			Nulla sodales feugiat velit, sit amet ornare lorem rhoncus vitae. Ut convallis tincidunt ligula, quis aliquet ante venenatis vel. 
			Donec id velit augue. In at pulvinar diam, vel tincidunt arcu. Sed fermentum quis elit quis interdum. Nunc efficitur varius quam ac 
			eleifend. Vivamus efficitur nisi quis libero venenatis dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
			Quisque sed scelerisque mi, a consectetur enim. Ut luctus tincidunt consectetur. Suspendisse in neque quis neque volutpat porta. 
			Integer nec pretium elit. Vestibulum finibus ex facilisis nibh rutrum, 
			vel pulvinar turpis malesuada. 
			</p>
		
		
            
	</div>
                
	<div class="col-lg-4 col-md-4 col-sm-12">
        <div class="col-xs-12">
    			<div class="sub-header header-aside">
                           Un aside
    			</div>
        	<i class="fa fa-caret-down fa-caret-down-black fa-5x"></i>
    	</div>
	</div>  
</div>
{% endblock %}